<div class="info">

<table  width="90%" border="1" cellspacing="0" cellpadding="6">

	<tr>
<a name="<%= publication.short_title %>"></a>


		<td valign="top" width="250">
<img alt="" src="/assets/<%= publication.image_path %>" width="250" />		</td>
		<!-- Row 3 Column 2 -->
		<td valign="top">
<center>			<b><%= publication.title %></b>
</center><p><%= publication.content %>
<br>
<p>
<b><center>Price: 	<%= publication.price %> - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
</div>
