<table width=700 cellpadding="5">
	<tr>
		<td class="l-column">
			<a href="publications.htm#bats"><%= image_tag("bats.jpg", :alt => "'The Box Hill Book of Bats' by Frank Greenaway", :width=>"125", :height=>"125") %></a><a href="publications.htm#box"><%= image_tag("box.jpg", :alt => "The Box Hill Book of Box' by Lalage Grundy", :width=>"125", :height=>"125") %></a>
		</td>
		<td>
			<b>Box Hill</b> is one of the best known features in the North Downs.  Only 20 miles from the centre of London, it is a haven of natural beauty with more than a million visitors every year.  Those numbers mean that special care is necessary to protect its many rare species of flora and fauna.  The Friends of Box Hill is an independent association, affiliated to the Campaign to Protect Rural England.  It is made up of people who love the Hill, and keep a close watch on everything that affects it.	
		</td>
	</tr>
	<tr>
		<td class="l-column">
			<a href="publications.htm#bugs"><%= image_tag("bugs.jpg", :alt => "'The Box Hill Book of Bugs...and other small creatures' by Anne & John Bebbington", :width=>"125", :height=>"125") %></a><a href="publications.htm#butterflies"><%= image_tag("butterflies.jpg", :alt => "'The Box Hill Book of Butterflies' by Gail Jeffcoate", :width=>"125", :height=>"125") %></a>
		</td>
		<td>
			The association advises the National Trust on the conservation of the Hill and supports its work.  We are particularly concerned with the improvement of the amenities of the Hill and educating the public in its unique ecology.  With this in mind, we have produced a number of <a href="publications.htm">publications</a> including <a href="publications.htm#map">a map of the Hill</a> and the Box Hill Books of <a href="publications.htm#bats">Bats</a>, <a href="publications.htm#box">Box</a>, <a href="publications.htm#bugs">Bugs</a>, <a href="publications.htm#butterflies">Butterflies</a>, <a href="publications.htm#geology">Geology</a> & <a href="publications.htm#orchids">Orchids</a> - full of information and beautiful pictures.
		</td>
	</tr>
	<tr>
		<td class="l-column">
			<a href="publications.htm#geology"><%= image_tag("geology.jpg", :alt => "'The Box Hill & Mole Valley Book of Geology' by Richard Selley", :width=>"125", :height=>"125") %></a><a href="publications.htm#orchids"><%= image_tag("orchids.jpg", :alt => "'The Box Hill Book of Orchids' by Ann Sankey", :width=>"125", :height=>"125") %></a>
		</td>
		<td>
			You can join us using <a href="fobh_joining_form.pdf">this application form</a>.  To find out more (including about forthcoming events and news from the Hill) have a look at <a href="http://friendsofboxhill.blogspot.com/">the blog</a> or please ring 01306 885502, or <A HREF="mailto:Friends of Box Hill <info@friendsofboxhill.org.uk>">email</A>, or write to: 
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Friends of Box Hill Association, <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c/o the National Trust, Warren Farm Barn, <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Headley Lane, Mickleham, Dorking, RH5 6DG.
		</td>
	</tr>
</table>

