<table width=700>		

			<tr>
	<td>
<center>				<h2>Publications</h2>

 Box Hill Books of <a href="#bats">Bats</a>, <a href="#box">Box</a>, <a href="#bugs">Bugs</a>, <a href="#butterflies">Butterflies</a>, <a href="#geology">Geology</a> & <a href="#orchids">Orchids</a> &nbsp;|&nbsp; <a href="#map">Box Hill map</a><br>
</center><br>

<left><a name="order"></a><b>How To Order:</b>  All Friends of Box Hill publications are available in the Information Centre on the top of the hill, but if you'd like to order by post, please print off and fill in <a href="/assets/fobh_order_form.pdf">this order form</a> and send it with your cheque made payable to "Friends of Box Hill Association" to: The Friends of Box Hill Association, c/o the National Trust, Warren Farm Barn, Headley Lane, Mickleham, Dorking, RH5 6DG.  If you are ordering from outside the UK or would like to work out a way of paying electronically, please send us an <A HREF="mailto:Friends of Box Hill <info@friendsofboxhill.org.uk>">email</A> and we'll see what we can come up with.
<br>
<br>

<center><b>***Note: there is a discount on postage when ordering more than one item.***</b>
</center><br>
<br>


</left>

		</td></tr></table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">
	<tr>
		<!-- Row 1 Column 1 -->
		<td valign="top" width="250">

			<%= image_tag("bats-b.jpg", :alt => "", :width=>"250") %>	</td>
		<!-- Row 1 Column 2 -->
		<td valign="top">

<a name="bats"></a>

<center>			<b>'The Box Hill Book of Bats' <br>
by Frank Greenaway
</center>							</b>
<p>

At the time of writing this book, Frank Greenaway was running the scientific section of the photographic department at the Natural History Museum. He has been studying the bats at Westhumble Cave since 1980 and has been instrumental in the development of this site which has become an important habitat for many bat species. Britain has 16 breeding species of bat, eleven of these breed locally. The book, illustrated throughout with Frank's stunning colour photographs, shows how these fascinating creatures behave in their environment and the best ways of observing their presence and conserving them.
<br>
<p>


<b><center>Price: £4.95 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
	</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">

	<tr>
		<!-- Row 2 Column 1 -->
		<td valign="top" width="250">

			<%= image_tag("box-b.jpg", :alt => "", :width=>"250") %>		</td>
		<!-- Row 2 Column 2 -->
		<td valign="top">
<a name="box"></a>

<center>			<b>'The Box Hill Book of Box' <br>
by Lalage Grundy
</center>							</b>
<p>
Lalage Grundy lived for many years in the warden's cottage on Box Hill.  This book provides a wealth of information about the establishment of box in this country after the last Ice Age, its distribution in the wild and its biology including how it increases by seeds and by layering. Lalage has researched the connection between box and Box Hill, the first records dating back, through names relating to box, to 1268.  We are told where to see box trees most conveniently on Box Hill, so we can decide for ourselves whether it smells 'delicious, disgusting or somewhere between the two'.  The uses of box wood, from tools through musical instruments to decorative items such as turned articles, go back to the ancient Egyptians six and a half thousand years ago. The book provides a comprehensive list of various uses over the years, including the use of boxwood blocks for printing engravings.  There are many references from literature to the use of box in formal gardening both here and on the Continent. Lalage provides comprehensive advice on growing box in modern gardens, including a guide on how to 'grow your own topiary sheep - box is especially good for this as the bushy leaves look like sheep's wool'.  The illustrations are many and varied, with plenty of photographs, beautifully produced, woodcuts and lovely line drawings mostly by F N Colwell.
<br>
<p>


<b><center>Price: £4.95 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">

	<tr>
<a name="bugs"></a>
		<!-- Row 3 Column 1 -->
		<td valign="top" width="250">
<%= image_tag("bugs-b.jpg", :alt => "", :width=>"250") %>		</td>
		<!-- Row 3 Column 2 -->
		<td valign="top">
<center>			<b>'The Box Hill Book of Bugs...and other small creatures' <br>
by Anne & John Bebbington
			</b>
</center><p>
The authors were based at Juniper Hall Field Centre from 1978 to 2004 where they taught at all levels from primary to postgraduate. For this publication John and Anne Bebbington used their years of living, walking and teaching on the Hill to make a personal, but representative selection from the vast number of different species of invertebrates that occur locally. There is much help with identification and, for simplicity, species have been divided according to the number of their legs, starting with animals with no legs, such as worms and snails, moving on to those with six (insects) or eight legs (spiders) and ending with multi-leggers like centipedes and millipedes. The text is very clear, well structured and informative. Illustrations are sharp, well chosen, well labelled and often quite beautiful. Anne's exquisite line drawings are used throughout and there are more than seventy of John's amazing colour photographs.

<br>
<p>


<b><center>Price: £4.95 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">

	<tr>
<a name="butterflies"></a>
		<!-- Row 4 Column 1 -->
		<td valign="top" width="250">
			<%= image_tag("butterflies-b.jpg", :alt => "", :width=>"250") %>		</td>
		<!-- Row 4 Column 2 -->
		<td valign="top">
<center>			<b>'The Box Hill Book of Butterflies' <br>
by Gail Jeffcoate
</center>			</b>
<p>
Gail Jeffcoate was butterfly recorder for Surrey 1993-2000. She is a co-author of The Millennium Atlas of Butterflies in Britain and Ireland, and sits on several conservation committees at local and national level. She has a special interest in the wildlife and conservation of chalk grassland and works closely with organisations, such as the National Trust, responsible for maintaining this scarce and fragile habitat and the rich variety of species it supports.
The book gives an account of every species of butterfly that occurs or has occurred on Box Hill, with superb colour photographs to aid identification. Forty-five species have been seen in Surrey in recent years and since the 1980s forty of these have been recorded on Box Hill, making it one of the richest sites in the county, if not the whole of the U.K. In addition to the full and well-illustrated identification section there are short essays on the life cycle of the butterfly, butterfly behaviour, the special merits of Box Hill as a habitat (actually a range of habitats), conservation and changes seen during the last century. Particularly useful to the interested layman is a table of periods when the different species are most likely to be seen on the wing. We are told where to go for further information and there is an excellent map of the area with features clearly marked. 
This publication is a mine of useful and interesting information – the importance of long grass or short grass, plants vital to the life-cycle of certain species, why some groups roost head-down at night, the part played by ants and highland cattle, and much more.
<br>
<p>


<b><center>Price: £4.95 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">

	<tr>
<a name="geology"></a>
		<!-- Row 5 Column 1 -->
		<td valign="top" width="250">
			
				<%= image_tag("geology-b.jpg", :alt => "", :width=>"250") %>
			
		</td>
		<!-- Row 5 Column 2 -->
		<td valign="top">
<center>					<b>'The Box Hill & Mole Valley Book of Geology'<br>
 by Richard Selley
			</b>
</center><p>
Professor Richard C. Selley is a professional geologist, Mole Valley resident and known to many of us as the public benefactor who persuaded Adrian White to develop the Denbies vineyard and winery. Professor Selley's aim is to explain the landscape of this area of outstanding natural beauty to the general reader. Geology, he claims, underlies everything that we see, from rocks and land-forms to the presence of grass snakes and bats and the absence of water in the many 'dry valleys' of the North Downs. Then there is the prosperity that the area's geology has brought about – providing bricks, glass, sand, fuller's earth, limestone, natural gas, oil and (mysteriously) witch repellent!
The theme in fact falls into two parts – basic geology (sedimentary rocks, uplift and erosion of the Weald, fossils, the Ice Age) and an examination of the area's prosperity - so far, but then what of the future, with its threats of possible global warming, floods, increased temperatures, desert conditions, 'Swiss peasants in coolie hats tending the Alpine rice paddies', 'curried goat and Pixham prawns' (actually salt-cured scorpions with five claws)? But the tone is not gloomy, in fact there is a good deal of humour: Baryonyx, the dinosaur precursor of Gollum, fossilised turtles and crocodiles, 'hungry itinerant hairy hominids' (in the Ice Age). It is no surprise that Professor Selley is particularly good on viticulture (Denbies 'was planted on the recommendation of a notorious local geologist' – i.e. himself). The work ends with a chapter on Frequently Asked Questions (FAQ) on geological matters and a glossary of geological terms.


<br>
<p>


<b><center>Price: £4.95  - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">
	<tr>
<a name="orchids"></a>
		<!-- Row 6 Column 1 -->
		<td valign="top" width="250">
<%= image_tag("orchids-b.jpg", :alt => "", :width=>"250") %>		</td>
		<!-- Row 6 Column 2 -->
		<td valign="top">
<center>					<b>'The Box Hill Book of Orchids' <br>
by Ann Sankey
			</b>
</center><p>

Ann Sankey is renowned locally as a botanist and teacher.  The book presents a fund of information about the natural history of the plants and their presence on the Hill in a most accessible way. She describes the aim of the book as 'to describe some of the unusual characteristics of orchids and to show how other factors can influence their prosperity'.  Of some 50 species of orchid found in the British Isles almost half have, at one time or another, been found on Box Hill. The varied range of habitat provides suitable homes for species which require open grassy areas, scrub or woodlands. Nine species of orchids have been found on the Hill in reasonable numbers while a further eight, nationally scarce, occur in low numbers. Six more have been recorded in the past but no longer appear to be present.  The book is not intended as a guide to the identification of orchids, but it is set out in such a way that it gives a careful description and particular characteristics of each of the species which is, or has been, found on the Hill.  The book records the private life of orchids including their varying approaches to pollination; chapter headings include: Rewarders, deceivers and the self-sufficient, which may arouse your curiosity, and A year in the life of a Pyramidal orchid.  The complexities of the close association between some varieties of orchids and fungi, and in some cases with tree roots are explained.  There are excellent colour pictures, some taken by Ann, some by John Bebbington and other photographers, as well as delightful drawings by local artist Elizabeth Worsley.



<br>
<p>



<b><center>Price: £4.95 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<table  width="700" border="1" cellspacing="0" cellpadding="6">

	<tr>
<a name="map"></a>
		<!-- Row 7 Column 1 -->
		<td valign="top" width="250">
<%= image_tag("fobh-map.jpg", :alt => "", :width=>"250") %>		</td>
		<!-- Row 7 Column 2 -->
		<td valign="top">
<center>					<b>Map of Box Hill
			</b>
</center><p>
A large scale map that clearly shows the shape of the Hill by use of a coloured contouring scheme.  Footpaths and bridleways are marked along with useful facilities and points of interest.  There is also clear differentiation between wooded areas and open spaces.  On the reverse of the map is a lot of information about the Hill - how it is managed, its key features and history, and the plants and wildlife that can be encountered when walking about - illustrated with colour photographs.<br>
<p>


<b><center>Price: £2.50 - <a href="/assets/fobh_order_form.pdf">Order</a>
</center></b>	
		</td>
	</tr>
</table>
<br>
<br>
							
<b>		<a href="#top">Top</a>
</b>		

