<a name="top"></a>		
	<CENTER>
	<table width=700>
	<tr>
		<td>
 			 <%= image_tag("fobh-boxtree.jpg", :alt => "Tree") %>
		</td>
		<td>
				<H1 align="center"> Discover Box Hil	</H1>

		<h3 align="center">
			<%= link_to "Home", root_path %> | 
				<%= link_to "History", events_path %> | 
				<%= link_to "Information", information_index_path %> | 
				<%= link_to "Files", documents_path %> | 
				<a href="http://friendsofboxhill.blogspot.com/">Blog</a> | 
				Publications <%= link_to "(static)", publicationsStatic_path %> / <%= link_to "(dynamic)", publications_path %></h3>
			
		</td>
	</tr>
</table>
<hr>

